.loading{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $c-primary;
  z-index: 1000;
  height: 100%;
  width: 100%;
  animation: fade;
  animation-duration: 0s;
  animation-delay: 2800ms;
  animation-fill-mode: forwards;

  &__spiner{ 
    position: fixed;
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
    color: $c-accent;
    text-shadow: 5px 3px 0px $c-white;
    letter-spacing: 2px;
   
     animation:falling 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards,
             rotating 400ms ease-in-out 1.3s both,
            falling 1.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 1.7s reverse;
    @media (min-width: 600px) {
      // bigger font for the desktop version
          font-size: 6rem;
    }
    }
}

// hiding background
.body {
  animation: hide-bg;
  animation-duration: 3s;
}

// keyframes
@keyframes falling {
  0% { opacity: 0; top: -400px; }
  1% { opacity: 1; top: -400px; }
  100% { opacity: 1; top:  45%; } 
}

@keyframes rotating {
  0% {
  }
  100%{
    transform: rotate(1080deg);
  }
  
}

@keyframes fade {
/* fading effects */
  from{
      opacity:1;
      display: block;
  }
  to{
      opacity:0;
      z-index:-100;
      display:none;
      height:0;
      width:0;
      display: none;
  }
  }

/* fading effects */
@keyframes fade {
  from{
      opacity:1;
      display: block;
  }
  to{
      opacity:0;
      z-index:-100;
      display:none;
      height:0;
      width:0;
      display: none;
  }
}
  
@keyframes hide-bg {
  from{
      overflow:hidden;
  }
  to{
      overflow:visible;
  }
      }