// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------  
  * {
    box-sizing: border-box;
    list-style: none;
  }

  .container {
    max-width: 1400px;
    font-family: $ff-text;
    margin: 0 auto;
  }

  a {
    color: $c-base;
    text-decoration: none;
  }

  h1, h2, h3, h4, figure, ul {
    margin: 0;
  }

  ol, ul, li, figure {
    padding: 0;
  }

