body {
    // position: relative;
    font-family: $ff-text;
}

.location {
    @include shadow(inset 0 7px 8px -7px $c-shadow);
    @include flexbox(row, center, center);
    width: 100%;
    font-size: $s2;
    font-weight: 900;
    padding: $s1 0;
    background-color: $c-darkergrey;
    &-i {
        margin-right: 10px;
    }    
    span {
        font-size: $s4;
        font-weight: 400;
    }
}


// explore and function
.explore {
    @media (min-width: 600px) {
            flex-basis: 66%;
         }
    &__wrap {
        @include flexbox(column, center, center);
        background-color: $c-grey;
        height: 100%;
        text-align: center;
        padding: 3rem 0;
    }

    a {
        @include btn(15px 25px);
        margin-top: $s0;
    }

    a:hover {
        @include btn-hover;
    }

    h1 {
        font-size: 1.8rem;
        // margin in a line
        margin: 0 3.5rem 0.7rem 3.5rem;
    }

    span {
        display: block;
        margin: 0 1rem;
        font-size: $s2;
        font-weight: 400;
    }
}
    .card-body {
        font-size: 14px;
        font-weight: 500;
        margin-left: 1rem;
    }

    .card-num {
        width: 23px;
        height: 23px;
        font-size: 15px;
        @include flexbox(row, center, center);
        color: $c-white;
        border-radius: 100%;
        background-color: $c-primary;
        position: absolute;
        left: -5px;
    }

.function {
    padding: $side-padding;
    margin-bottom: $s3*2;
    @media (min-width: 600px) {
        flex-basis: 33%;
        width: 100%;
        margin-bottom: 80px;
        h2 {
            margin: 50px 0;
        }   
        ol {
            display: flex;
            justify-content: space-between;
        }
        li {
            width: 32%;
        }
    }

    h2 {
        margin: $s3*2 0;
        font-size: $s1;
    }

    a {
        @include shadow(1px 5px 25px -17px rgba(0,0,0,1));
        @include flexbox(0, 0, center);
        border-radius: 15px;
        background-color: $c-grey;
        height: 4rem;
        margin: 0 auto;
        position: relative;
        margin-top: $s1;
        font-size: $s2;
        transition: 0.5s;
    }

    .card-body {
        font-size: 14px;
    }

    a:hover {
        background-color: $c-hover;
        @include hover-scale(scale(1.02), 0.2s);
    }

    i {
        color: $c-icon;
        font-size: $s2;
        margin-left: 2.5rem;
    }
}
