// hero img
.hero {
    width: 100%;
    position: relative;
    height: 300px;
    background-color: $c-grey;
    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        position: relative;
    }
}

// menu start
.menu {
    background-color: $c-grey;
    position: relative;
    z-index: 10;
    margin-top: -73px;
    border-radius: 35px 35px 0 0;
    
    &__title__wrap {
        width: inherit;
        border-radius: 35px 35px 0 0;
        background-color: #f6f6f6;
        top: 200px;
        @include flexbox(row, space-between, start);
        padding: 7% 8%;

        h1 {
            font-family: $ff-logo;
            font-size: 26px;
        }
    }    
    
    &__heart {
        position: relative;
        height: 100%;
        width: 20%;
        margin-top: 4px;
        @include heart(14px, 0px);
    }

    hr {
        background-color: $c-accent;
        border: 1.3px $c-accent solid;
        width: 2rem;
    }

    h2 {
        font-size: $s3;
        font-weight: 300;
    }

    hr, h2 {
        line-height: 12px;
    }

    // menu start
    &__wrap{
        padding: $side-padding;
        width: inherit;
        padding-bottom: 7.5%;
    }
    
    h3 {
        font-weight: 500;
        font-size: 16px;
    }
    h4 {
        font-weight: 300;
        font-size: 16px;
        margin-top: 3px;
    }
    span {
        font-weight: 500;
        font-size: 16px;
    }

    .card {
        @include flexbox(column, space-between, flex-end);
        flex-direction: 0;
        border-radius: 15px;
        margin: 1rem 0;
        @include shadow(1px 5px 25px -17px #000);
        position: relative;
        height: 4rem;
        transition: 400ms;
        overflow: hidden;

    &__checked {
        color: white;
        background-color: $c-accent;
        width: 60px;
        height: 4rem;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 23px;
        display: none;
        i {
            @include flexbox(0, center, center);
            height: inherit;
            }
    }

    &__body {
        overflow: hidden;
        white-space: nowrap;
        h3, h4 {
            text-overflow: ellipsis;
            overflow: hidden;
            }
        span {
            margin-right: 10px;
            }
        }
    }

    &__btn {
        height: 100px;
        margin: 0 auto;
        @include flexbox(row, center, baseline);
        a {
            @include btn(15px 45px);
            margin-top: 0;
            }
        a:hover {
            @include btn-hover;
            }
        }
    }

    .card__wrap {
        @include flexbox(row, space-between, end);
        transition: 1s;
        padding: 10px;
        width: 100%;
        height: 4rem;
        overflow: hidden;
    }
      .card__body {
        width: 80%;
      }

@media (min-width: 600px) {
    .menu {
        border-radius: 0;
        margin-top: 0;
        &__title__wrap{
            padding: 8% 3%;
            align-items: flex-start;
        }
        &__heart .fa-regular , .fa-solid {
           top: 4px;
        }
        h1 {
            font-size: 35px;
            margin: 0;
           }
        &__btn {
            height: 118px;
        }
    }
}