// hero img
.hero {
    width: 100%;
    position: relative;
    height: 300px;
    background-color: $c-grey;
    // @media (min-width: 600px) {
    //     height: 250px;
    // }
    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        position: relative;
    }
}

.menu {
// menu container
    background-color: $c-grey;
    position: relative;
    z-index: 10;
    margin-top: -73px;
    border-radius: 35px 35px 0 0;

    @media (min-width: 600px) {
        align-items: flex-start;
        border-radius: 0;
        margin-top: 0;
    }

    &__body {
        @media (min-width: 600px) {
            display: flex;
            justify-content: center;
            padding-bottom: 2.2rem;
        }
    }

    // title under hero img
    &__title__wrap {
        @include flexbox(row, space-between, start);
        border-radius: 35px 35px 0 0;
        background-color: #f6f6f6;
        top: 0;
        padding: 33px 22px;
        position: relative;
        // heart checkbox
        @include heart(35px, 55px, 0);
        // heart checkbox -> hover in desktop version
        @media (min-width: 600px) {
            @include heart(69px, 55px, 0);
            &:hover ~ .heart__checked .fa-solid {
                animation: heart 300ms ease-out both;
            }
            padding: 4rem 2rem;
            align-items: flex-start;
        }
    }

    // name of restaurant
    &__title {
        width: 85%;
        h1 {
            font-family: $ff-logo;
            font-size: 24px;
            display: block;
            width: 100%;
            margin: 0;
            @media (min-width: 600px) {
                font-size: 35px;
                margin: 0;
            }
        }    
    }
    //  cards container by entree/plat/dessert
    &__container {
        padding: $side-padding;
        width: inherit;
        padding-bottom: 2rem;
        padding-top: 1rem;

        @media (min-width: 600px) {
            padding-bottom: 2rem;
            padding-top: 1rem;
            padding-right: 1rem;
            width: 33%;
        }

        h2 {
            @include flexbox(column, 0, 0);
            gap: 0.3rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 12px;
            text-transform: uppercase;

        // entree/plat/dessert with underlines
        &::after {
            content: "";
            border-bottom: 3px $c-accent solid;
            width: 2.5rem;
            line-height: 20px;
        }
            }
       
    }

    // each cards inside entree/plat/dessert
    // html <label> = .card      
    .card {
        @include flexbox(row, none, self-end);
        @include shadow(1px 5px 25px -17px #000);
        border-radius: 15px;
        margin: 1rem 0;
        transition: 400ms;
        overflow: hidden;
        height: 4rem;

        &__wrap {
            @include flexbox(row, space-between, end);
            transition: 1s;
            padding: 10px;
            width: 100%;
            height: 4rem;
            overflow: hidden;
        }

        // card__price
        &__price {
            display: block;
            padding: 1rem;
            transition: 200ms;
            font-size: 14px;
        }

        // menu names 
        &__body {
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            padding: 1rem;
            display: block;
            
                // title and description of the menu cards
                &-title, 
                &-dscr {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: block;
                    }
                &-title {
                    font-size: 1rem;
                }
                &-dscr {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
            
        &__checked{
            color: white;
            background-color: $c-accent;
            height: inherit;
            width: 106px;
            font-size: 23px;
            display: none;
            @media (min-width: 600px) {
                top: 4px;
            }
            i {
                @include flexbox(0, center, center);
                height: inherit;
            }
        }
    }
}   
 // commander button
 .main__btn {
    background-color: $c-grey;
    height: 100px;
    margin: 0 auto;
    @include flexbox(row, center, baseline);
    a {
        @include btn(15px 45px);
        margin-top: 0;
        button {
            @include btn-reset;
        }    
    }
    a:hover {
        @include btn-hover;
        }
    @media (min-width: 600px) {
        height: 130px;
        background-color: $c-grey;
    }
}
