footer {
    padding: 24px 22px;
    background-color: $c-footer;
    color: $c-white;
    &__wrap {
        max-width: 1400px;
    }
    h2 {
        font-family: $ff-logo;
        font-size: $s2;
        display: block;
        margin-bottom: 10px;
        font-weight: lighter;
        &:hover {
            @include hover-scale(scale(1.2), 0.3s);
        }
        
    }

    li {
        margin-bottom: 5px;
    }

    a {
        color: $c-white;
        font-size: $s4;
    }
}