footer {
    padding: 24px 22px;
    background-color: $c-footer;
    color: $c-white;
    &__wrap {
        max-width: 1400px;
    }
    h2 {
        font-family: $ff-logo;
        font-size: $s2;
        display: block;
        margin-bottom: 10px;
        font-weight: lighter;
        &:hover {
            @include hover-scale(scale(1.02), 0.3s);
            color: $c-primary;
        }
    }
    li {
        margin-bottom: 5px;
    }

    a {
        color: $c-white;
        font-size: 12px;
    }
    a:hover {
        color: $c-accent;
    }
    
    @media (min-width: 600px) {
        padding: 2.5rem 0;
        .container{
                @include flexbox(row, space-between, center);
                gap: 2rem;
                padding: $side-padding;
        }
        ul {
                display: flex;
                gap: 1rem;
        }
        li, h2 {
                margin-bottom: 0;
        }
    }
}
