header {
    width: 100%;
    @include flexbox(row, none, center);
    position: relative;

    img {
        @include logo;
    }
    
    nav {
        display: block;
        position: absolute;
        left: 5%;
        font-size: $s2;
    }
    a {
        display: block;
        width: 100%;
    }
}
