.restaurants {
    padding: $side-padding;
    background-color: $c-grey;
    padding-bottom: 3rem;
    // title
    h2 {
        font-size: 1.25rem;
        padding: 2rem 0;
    }

    // cards wrap
    &__wrap {
        @include flexbox(column, center, center);
        border-radius: 20px;
    }

    // card
    figure {
        width: 100%;
        height: auto;
        margin-bottom: $s2;
        position: relative;
        border-radius: 15px;
    }

    a {
        @include shadow(1px 5px 25px -17px rgba(0,0,0,1));
        display: block;
        height: 265px;
        margin: 0 auto;
        position: relative;
        border-radius: 15px; 
        transition: 0.6s;
        &:hover {
            @include shadow(-1px 3px 20px 0px rgba(153,226,208,0.90));
        }

    }

    img {
        width: 100%;
        height: 180px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    &__card-label {
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 8px;
        font-size: 14px;
        color: $c-accent-font;
        display: block;
        background-color: $c-accent;
        padding: 5px 10px;
        border-radius: 3px;
    }

    // cards description
    &__dscr {
        height: auto;
        position: relative;
    
        &__texts {
            display: block;
            margin-top: 18px;
            margin-left: 22px;
            line-height: 22px;
        }
    }


// // input + icon container
//     label{  
//         display: block;
//         position: absolute;
//     }
}

@include heart;


// desktop version
@media (min-width: 600px) {
    .restaurants {
        padding: 0 0 4rem 0;
        .container {
            padding: $side-padding;
        }
        h2 {
            padding: 50px 0;
        }
    &__wrap {
        @include flexbox(row, space-between, 0);
        flex-wrap: wrap;
        }
    figure {
        flex-basis: 49%;
        }
    }
}
