@mixin flexbox($flex-direction:row, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin shadow($params) {
    box-shadow: $params;
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
}

// logo in the header
@mixin logo {
    display: block;
    width: 8rem;
    height: auto;
    margin: 0 auto;
    padding: $s3 0;
    transition: 0.5s;
    &:hover {
        @include hover-scale;
    }
}

@mixin hover-scale($transform:scale(1.2), $transition: 0.5s) {
        transform: $transform;
        transition: $transition;
        cursor: pointer;
}

@mixin heart($bottom:10%, $right:7%, $icon-bottom: 6%) {
    .label-heart{
        width: 7%;
        // display: block;
        height: inherit;
        // position: absolute;
        height: 30px;
        bottom: $bottom;
        right: $right;
        display: block;
        position: absolute;
    }
    //filled heart icon
    .heart--clicked {
        opacity: 0;
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    // container of two heart icons
    .heart__checked {
        position: relative;
        height: inherit;
        display: block;
    }
    // two heart icons from font-awesome
    .fa-heart {
        position: absolute;
        font-size: 1.6rem;
        bottom: $icon-bottom;
    }

    @media (min-width: 600px) {
        .heart--clicked:hover {
            animation: heart--liked 300ms ease-out both;
            cursor: pointer;
        }

    }


}