@use "../abstract/variables" as *;



@mixin btn($padding: 15px 25px) {
    margin-top: 1.375rem;
    color: #fff;
    border-radius: 25px;
    padding: $padding;
    background-image: linear-gradient(-180deg, #FF79DA, #9356DC);
    cursor: pointer;
    display: inline-block;
    background-color: initial;
    overflow: hidden;
    @include shadow(1px 10px 32px -17px rgba(0,0,0,1));
}

@mixin btn-hover{
    @include shadow(3px 8px 28px 4px rgba(0,0,0,0.31));
    background: rgb(195,149,250);
    background: linear-gradient(183deg, #ff94e1, #a978e3 100%);
}



@mixin flexbox($flex-direction:row, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}


@mixin shadow($params) {
    box-shadow: $params;
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
}
