@mixin flexbox($flex-direction:row, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin shadow($params) {
    box-shadow: $params;
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
}

// logo in the headers
@mixin logo {
    display: block;
    width: 6rem;
    margin: 0 auto;
    transition: 0.5s;
    &:hover {
        @include hover-scale;
    }
    @media (min-width: 600px) {
        margin: 0 auto;
        width: 120px;
    }
}

@mixin hover-scale($transform:scale(1.2), $transition: 0.5s) {
        transform: $transform;
        transition: $transition;
        cursor: pointer;
}