// colors
$color-primary : #9356DC;
$color-hover :#f5edff;
$color-secondary : #FF79DA;
$color-accent : #99E2D0;
$color-white : white;
$color-base : black;
$color-grey : #f6f6f6;
$color-darkergrey : #eaeaea;
$color-icon : #7e7e7e;
$color-footer : #353535;
$color-shadow : rgb(167, 167, 167);
$color-accent-font: #008766;


// font-families
$ff-text : 'Roboto', sans-serif;
$ff-logo : 'Shrikhand', cursive;

//font-size / sizes
$s0 : 1.375rem; 
$s1 : 1.25rem; 
$s2 : 1.125rem;
    // 16px
$s3 : 1rem;
$s4 : 0.875rem;
$s5 : 0.75rem;
$s6 : 0.625rem;

// transitions
$transition: all 0.2s ease-in-out;

// padding 
$side-padding: 0 $s0;
$padding: padding;

// gradient
$gradient: linear-gradient(220deg, rgba(147,86,220,1) 35%, rgba(255,121,218,1) 100%); 
