// colors
$c-primary : #9356DC;
$c-hover :#f5edff;
$c-secondary : #FF79DA;
$c-accent : #99E2D0;
$c-white : white;
$c-base : black;
$c-grey : #f6f6f6;
$c-darkergrey : #eaeaea;
$c-icon : #7e7e7e;
$c-footer : #353535;
$c-shadow : rgb(167, 167, 167);
$c-accent-font: #008766;

// font-families
$ff-text : 'Roboto', sans-serif;
$ff-logo : 'Shrikhand', cursive;

// sizes
$s0 : 22px; 
$s1 : 20px; 
$s2 : 18px;
    // 1rem
$s3 : 16px;
$s4 : 14px;
$s5 : 12px;
$s6 : 10px;

// transitions
$transition: all 0.3s ease-in-out;

// padding 
$side-padding: 0 $s0;
$padding: padding;

// gradient
$gradient: linear-gradient(220deg, 
    rgba(147,86,220,1) 35%, 
    rgba(255,121,218,1) 100%); 
