@import "./abstract/mixins", 
        "./abstract/variables",
        "./animations/like",
        "./animations/loading",
        "./animations/menu-effect",
        "./base/base",
        "./components/button",
        "./components/home-cards",
        "./layout/footer",
        "./layout/header",
        "./pages/home",
        "./pages/menu";