@mixin heart($top: 7px, $right: 22px) {
    .fa-regular {
        position: absolute;
        right: $right;
        top: $top;
        font-size: 26px;
    }

    .fa-solid {
        position: absolute;
        right: $right;
        top: $top;
        font-size: 26px;
        opacity: 0;
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
            animation: heart--liked 300ms ease-out both;
            cursor: pointer;
        }
    }

    // .fa-solid:hover {
    //     animation: heart--liked 300ms ease-out both;
    //     cursor: pointer;
    // }

@keyframes heart--liked {
    10% {
        opacity: 0.1;
        transform: scale(1);
    }
    
    30% {
        opacity: 0.3;
        transform: scale(1.8);
        
    }

    50% {
        opacity: 0.5;
        transform: scale(1.5);
    }

    70% {
        opacity: 0.7;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform:rotate(360deg);
        transform: scale(1)
    }
}
}