// Menu clicked(mobile version)
.card__checked {
    color: white;
    background-color: $c-accent;
    height: 71.78px;
    width: 106px;
    font-size: 23px;
    display: none;
      i {
        @include flexbox(0, center, center);
        height: inherit;
      }
  }
  
  .card__price {
    transition: 200ms;
  }


// for 'radio' input
$class-name: '#entree', '#plat', '#dessert';
@each $class-name in $class-name {
    @for $i from 1 through 3 {
    // input display none
    #{$class-name}-radio-#{$i} {
        display: none;
        // checkbox appearing animation
        &:checked ~ .card__checked {
            // background-color: white;
            display: block;
            animation: appear linear 200ms forwards;
            transition: 100ms;
            // icon in checkbox rotating animation
            & > .fa-circle-check {
                animation: icon-rotate 150ms linear both reverse;
                }
        }
        &:checked ~ .card__price {
            transition: 200ms;
          }
      } 
  }
  }

// ------last version------
//   @for $i from 1 through 3 {
//     // input display none
//     #entree-radio-#{$i} {
//         display: none;
//         // checkbox appearing animation
//         &:checked ~ .card__checked {
//             background-color: $c-accent;
//             display: block;
//             animation: appear linear 200ms forwards;
//             transition: 100ms;
//             // icon in checkbox rotating animation
//             & > .fa-circle-check {
//                 animation: icon-rotate 150ms linear both reverse;
//                 }
//         }
//         &:checked ~ .card__price {
//             transition: 200ms;
//           }
//       } 
//   }

// ------Checkbox not radio---------
//   @for $i from 1 through 9 {
//     #input-checkbox-#{$i} {
//       display: none;
//     }
//   }
  
//   // price tag transition
//   @for $i from 1 through 9 {
//     #input-checkbox-#{$i}:checked ~ .card__price {
//       transition: 200ms;
//     }
//   }
  
//   // checkbox appearing
//   @for $i from 1 through 9 {
//     #input-checkbox-#{$i}:checked ~ .card__checked {
//       background-color: $c-accent;
//       display: block;
//       animation: appear linear 200ms forwards;
//       transition: 100ms;
//     }
//   }
  
//   // icon-rotation
//   @for $i from 1 through 9 {
//     #input-checkbox-#{$i}:checked ~ .card__checked > .fa-circle-check {
//       animation: icon-rotate 150ms linear both reverse;
//     }
//   }


  // keyframes
  @keyframes appear {
    from {
      transform: translateX(50px);
      transition: 1s;
    }
    to {
      transform: translateX(0px);
      transition: 1s;
    }
  }
  
  @keyframes icon-rotate {
    from {
    transform: rotate(0);
    }
    to {
    transform: rotate(360deg);
    }
  } 
  
  // Menu hover (desktop version)
  @media (min-width: 600px) {
  
    .card {
        &:hover > .card__checked {
            background-color: $c-accent;
            animation: appear linear 200ms forwards;
            transition: 100ms;
            display: block;
            }
        &:hover .fa-circle-check {
            animation: icon-rotate 200ms linear both reverse;
            }

        &__wrap:hover > span {
            margin-right: 60px;
            transition: 200ms;
        }
    }

// keyframes
  @keyframes appear {
      from {
        transform: translateX(30px);
        transition: 1s;
      }
      to {
        transform: translateX(0px);
        transition: 1s;
      }
    }
  
  @keyframes icon-rotate {
      from {
      transform: rotate(0);
      }
      to {
      transform: rotate(360deg);
      }
  } 
  }