.entree {
    animation: menu-ani 800ms both;
    animation-delay: 200ms;
    
}
.plat {
    animation: menu-ani 1200ms both;
    animation-delay: 800ms;
}
.dessert {
    animation: menu-ani 1600ms both;
    animation-delay: 1200ms;
}

@keyframes menu-ani {
    0% {
        transform: translateY(50%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
}