// Menu appearance
.entree {
    animation: menu-ani 800ms both;
    animation-delay: 200ms;
}
.plat {
    animation: menu-ani 1200ms both;
    animation-delay: 800ms;
}
.dessert {
    animation: menu-ani 1600ms both;
    animation-delay: 1200ms;
}

@keyframes menu-ani {
    0% {
        transform: translateY(50%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
}


// Menu hover

.card__wrap span {
  transition: 200ms;
}

.card__wrap:hover > span {
    margin-right: 60px;
    transition: 200ms;
}

.card:hover > .card__checked {
background-color: $c-accent;
animation: appear linear 200ms forwards;
transition: 100ms;
display: block;
}

.card:hover .fa-circle-check {
animation: icon-rotate 200ms linear both reverse;
}

@keyframes appear {
    from {
      transform: translateX(30px);
      transition: 1s;
    }
    to {
      transform: translateX(0px);
      transition: 1s;
    }
  }

@keyframes icon-rotate {
    from {
    transform: rotate(0);
    }
    to {
    transform: rotate(360deg);
    }
} 
